#circle,
#cross {
    width: 50%;
    height: 50%;
}

button {
    width: 200px;
    height: 70px;
    background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
    border-style: none;
    color: #fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: "Lato";
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    height: 3px;
    width: 200px;
    top: 0px;
    left: -200px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -200px;
    }
    100% {
        left: 200px;
    }
}

button span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

@keyframes span2 {
    0% {
        top: -70px;
    }
    100% {
        top: 70px;
    }
}

button span:nth-child(3) {
    height: 3px;
    width: 200px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

@keyframes span3 {
    0% {
        right: -200px;
    }
    100% {
        right: 200px;
    }
}

button span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

@keyframes span4 {
    0% {
        bottom: -70px;
    }
    100% {
        bottom: 70px;
    }
}

button:hover {
    transition: all 0.5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

button:hover span {
    animation-play-state: paused;
}

.titulo {
    text-align: center;
    width: 50%;
    color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    font-size: 3em;
    box-shadow: 0px 0px 10px white;
}

.contenedorTablero {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.iniciarPartida {
    width: auto;
    height: auto;
}

.final {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(31, 31, 70, 0.7);
    display: grid;
    place-items: center;
}

.cuadrado {
    width: 800px;
    height: 500px;
    background-color: rgb(13, 13, 13);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1900px) {
    .boton {
        font-size: 15px;
    }

    .cuadrado {
        width: 700px;
        height: 400px;
    }

    .finalMsj {
        font-size: 50px;
    }

    @media (max-width: 1300px) {
        .boton {
            font-size: 15px;
        }

        .titulo {
            font-size: 2em;
        }

        .cuadrado {
            width: 700px;
            height: 400px;
        }

        .finalMsj {
            font-size: 50px;
        }
    }

    @media (max-width: 1000px) {
        .boton {
            width: 150px;
            height: 50px;
            font-size: 12px;
        }

        .contenedorTablero {
            grid-template-columns: 25% 25% 25% 25%;
        }

        .cuadrado {
            width: 300px;
            height: 200px;
        }

        .finalMsj {
            font-size: 25px;
        }
    }
}
