.tablero{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-self: center;
    width: 75%;
    grid-column: 2/3;
    aspect-ratio: 1 / 1;
    background-color: /*#171A4A*/#1c1c1c;
    box-shadow: 0px 0px  20px -5px white;
    gap: 1%;
    margin: 0px;
    padding: 1%;
}

@media (max-width:1000px) {
    .tablero{
        width: 70%;
        grid-column: 1/5;
        grid-row: 1/2;
        margin-bottom: 20px;
    }

}



