
.contenedorTurnoJugador{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
}
.contenedorTurnoJugador:first-child{
    grid-column: 1/2;
}

.contenedorTurnoJugador:last-child{
    grid-column: 3/4;
}

.turnoJugador{
    margin:0 0 10 0;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;

}




.seleccionado{
    background-color: #171a4a;
}


